.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.cancel-btn {
  background: #9e9e9e;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #757575;
}

.logout-confirm-btn {
  background: #D32F2F;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
}

.logout-confirm-btn:hover {
  background: #B71C1C;
}